---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<!-- @lim, order by category -->
<div class="related">
{% assign hasSimilar = '' %}
{% for post in site.related_posts %}
  {% assign postHasSimilar = false %}
  {% for category in post.categories %}
    {% for thisCategory in page.categories %}
      {% if postHasSimilar == false and hasSimilar.size < 3 and post != page and category == thisCategory %}
        {% if hasSimilar.size == 0 %}
          <h2>Related Posts</h2>
          <ul class="related-posts">
        {% endif %}
            <li>
              <h3>
                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}
                <small>{{ post.date | date_to_string }}</small>
                </a>
              </h3>
            </li>
              {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
              {% assign postHasSimilar = true %}
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}
      {% if hasSimilar.size > 0 %}
    </ul>
    <hr>
    <h3>
    <a href="{{ site.baseurl }}/categories">Categories Page</a>
    </h3>
  {% endif %}
</div>